main {
    height: 100vh;
    border: 2px solid rgb(105, 105, 105);
    margin: 15px;
    font-family: 'Lora', serif;
}

.game {
    background-color: rgb(253, 245, 230);
    display: grid;
    grid-template-rows: 200px 400px;
    grid-gap: 100px;
}

.points {
    margin-left: 100px;
    margin-top: 50px;
    display: grid;
    grid-template-rows: 75px 75px;
    grid-template-columns: 275px 50px 1000px;
}

#result {
    text-align: center;
}

h1 {
    font-size: 32px;
    color: rgb(105, 105, 105);
    display: grid;
    align-content: center;
}

p {
    font-size: 18px;
    color: rgb(105, 105, 105);
}

.sigils {
    width: 1350px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 300px);
    grid-gap: 50px;
    margin-bottom: 40px;
}

#ghp, #rc, #siyc, #gd {
    background-color: white;
    border-radius: 15px;
}

img {
    border: 2px solid rgb(105, 105, 105); 
    border-radius: 15px;
}

.hide {
    display: none;
}